{% extends 'base_main.html' %}
{% load static %}

{% block extLink %}

    {{ block.super }} {# 先加载父类的css，否则会覆盖掉 #}

    <link rel="stylesheet" href="{% static 'app/home/home.css' %}">

{% endblock %}


{% block extJS %}

    <script src="{% static 'app/home/home.js' %}"></script>

{% endblock %}


{% block content %}
    <div id="home">
        <div class="swiper-container" id="topSwiper">
            <div class="swiper-wrapper">
                {% for wheel in wheels %}
                    <div class="swiper-slide">
                        <img src="{{ wheel.img }}" alt="{{ wheel.name }}">
                    </div>
                {% endfor %}
            </div>
            {# 如果需要分页器 #}
            <div class="swiper-pagination"></div>
        </div>
    </div>
{% endblock %}