{% extends 'base_main.html' %}
{% load static %}

{% block extLink %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'app/market/market.css' %}">
{% endblock %}


{% block header %}
    <header>
        <div>闪购</div>
    </header>
{% endblock %}


{% block content %}
    <div id="market">
        我是闪购 <br>
        我是闪购 <br>
        我是闪购 <br>
        我是闪购 <br>
        我是闪购 <br>
        我是闪购 <br>
        我是闪购 <br>
        我是闪购 <br>
        我是闪购 <br>
        我是闪购 <br>
    </div>
{% endblock %}